/** body tag css*/

body.large #console {
  top: 0;
  padding-top: 0;
  bottom: 0;
  margin-bottom: 0;
  right: 40%;
  width: auto;
  position: absolute;
}
body.large form {
  right: 0;
  width: 40%;
  bottom: 0;
  background: none;
  border: 0;
  padding: 0;
}
body.large #exec {
  position: absolute;
  width: 100%;
  padding: 0;
  border-bottom: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 10;
  background: #E6E8F2;
  color: #000;
  -webkit-box-shadow: none;
  border-left: 1px solid #AAABB8;
  left: auto;
}
body.large #cursor {
  padding: 5px;
}

.console-container{
  margin-top: 24px;
}

html {
  height: 100%;
  background: #fff;
}
body {
 
  width: 100%;

}

/** text area console css**/
input,textarea {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 18px;
  width: 100%;
  -webkit-appearance: none;
}


input {
  padding: 2px;
}
